<!DOCTYPE html>
<html>
<head>
    <title>Random Forest Results</title>
</head>
<body>
    <h1 style="text-align:center">Random Forest Results</h1>
    <fieldset>
<fieldset>

    <h2>Accuracy</h2>
    <p>{{ accuracy }}</p>
    
</fieldset>

<fieldset>
    <h2>Classification Report</h2>
    <pre>{{ classification_rep }}</pre>
</fieldset>    

<fieldset>
    <h2>Confusion Matrix</h2>
    <pre>{{ cm }}</pre>
</fieldset>

<fieldset>
    <h2>Categorical Columns</h2>
    <ul>
        {% for column in categorical_columns %}
            <li>{{ column }}</li>
        {% endfor %}
    </ul>

</fieldset>
</fieldset>

</body>
</html>
