<!DOCKTYPE html>
<html>
<title>DETAILS</title>
<head>
<h1 style="text-align:center;font-size:400%;color:black;"><i>ALGORITHMS<i></h1>
<hr>
<hr>

<marquee behaviour="scroll";direction="right">
<h2 style="font-size:250%;color:black;text-align:center;"><i>CLICK HERE TO VIEW ALGORITHM DETAILS<i>  </h2></marquee>


</head>
<fieldset>

<fieldset>

<body style="background-color:white;">
<a href="knnn.html"><p style="color:black;text-align:left;font-size:200%;">K NEAREST NEIGHBOUR </p></a>
</fieldset>
<fieldset>
<a href="random.html"><p style="color:black;text-align:left;font-size:200%;">RANDOM FOREST </p></a>
</fieldset>
<fieldset>
<a href="svc.html"><p style="color:black;text-align:left;font-size:200%;"> SUPPORT VECTOR CLASSIFIER</p></a>
</fieldset>
</fieldset>
</body>
</html>